name: Linux CI/CD
on:
    push:
        branches:
             - main



jobs:
    linux-deploy:
        runs-on: [ubuntu-24.04]

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setting up the environment
              run: mkdir build bin

            - name: Getting dependencies
              run: sudo apt-get install make git -y && sudo apt install gcc-14 g++-14 -y && sudo snap install cmake & sudo apt autoremove

            - name: Generate cmake project
              run: cmake -G "Unix Makefiles" -B build

            - name: Build cmake project
              run: cmake --build build

            - name: Install cmake project
              run: cmake --install build
            
            - name: Cleaning the mess
              run: rm -rf build bin